<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/style.css">
    <title>Todo List</title>
</head>
<body ng-app="todoListApp">

    <!-- <hello-world></hello-world> Custom directive made in scripts/helloworld.js -->

	<h1>My TODOs</h1>

	<div class="list" ng-controller="mainCtrl">
		<input type="checkbox" name="" value="">
		<label class="editing-label">{{todo.name}}</label>
		<input ng-model="todo.name" class="editing-label" type="text"/>
		
		<div class="actions" ng-controller="coolCtrl">
			<a href="">edit</a>
			<a href="" ng-click="helloworld()">save</a>
			<a href="" class="delete" ng-click="coolMsg()">delete</a>
		</div>
	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="./scripts/app.js"></script>
    <!-- <script src="./scripts/hello-world.js"></script> -->
</body>
</body>
</html>
